/*
Author: Justin Wheeler (100982020)
Completion Date: 2025-02-23
Purpose: To demonstrate the fundamentals of CSS.
File: index3-styling.css
*/

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background:
    url('top-image.png') top center no-repeat,
    url('bottom-image.png') bottom center no-repeat,
    linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.2) 100%);
    border-top: 1mm solid grey;
    border-bottom: 1mm solid grey;
    background-color: white;
    background-size: contain, cover, cover;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

