/*
Author: Justin Wheeler (100982020)
Completion Date: 2025-02-23
Purpose: To demonstrate the fundamentals of CSS.
File: index2-styling.css
*/

html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */