/*
Author: Justin Wheeler (100982020)
Completion Date: 2025-02-23
Purpose: To demonstrate the fundamentals of CSS.
File: index3-styling.css
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* General setup */

* {
    box-sizing: border-box;
}
  
body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}
  
/* Layout */
  
section {
    float: left;
    width: 50%;
}
  
aside {
    float: left;
    width: 30%;
}
  
nav {
    float: left;
    width: 20%;
}
  
footer {
    clear: both;
}
  
header, section, aside, nav, footer {
    padding: 20px;
}
  
/* header and footer */
  
header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}
  
html {
    font-size: 10px
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.03rem;
    word-spacing: 0.04rem;
    line-height: 1.6;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h1,h2 {
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
}

p, li {
    font-size: 1.6rem;
}

p, h2 {
    text-indent: 2rem;
}

a {
    outline: none;
}

a[href^="https"] {
    padding-right: 2rem;
    background: url(https://mdn.github.io/learning-area/css/styling-text/typesetting-a-homepage-start/external-link-52.png)
        no-repeat 100%;
    background-size: 1.6rem 1.6rem    
}

a:link {
    color: #a66;
}

a:active {
    color: #D9534F;
    font-weight: bold;
}

a:hover, a:focus {
    color: #a11d1d;
    text-decoration: underline;
}

a:visited {
    color: #7a7635
}

section li, aside li {
    list-style-type: none;
    padding-left: 2.2rem;
    background: url(https://img.icons8.com/external-becris-lineal-becris/64/000000/external-squares-mintab-for-ios-becris-lineal-becris.png)
        no-repeat 0%;
    background-size: 1.6rem;    
}