/*
Author: Justin Wheeler (100982020)
Completion Date: 2025-02-23
Purpose: To demonstrate the fundamentals of CSS.
File: index2-styling.css
*/

html {
    font-family: sans-serif;
}
  
div {
    /* Declare Size */
    width: 200px;
    height: 200px;
    /* Declare display & alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Declare text-size */
    font-size: 18px;
    /* Declare colours */
    background-color: rgb(125, 0, 125);
    color: white;
    /* Declare shadows */
    text-shadow: 1px 1px 2px black;
    /* Declare border & position */
    border: 1px solid rgb(90, 0, 90);
    position: relative;
    /* Declare color gradients & alternative shadows */
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0) 0% rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 100%);
    box-shadow:
    3px 3px 10px rgba(0,0,0,0.3),
    inset 2px 2px 5px rgba(255,255,255,0.3),
    inset -2px -2px 5px rgba(0,0,0,0.3);
}